
body {

    background: rgb(255, 255, 255)
}

h1 {
    text-align: center;
    color: white;
}

#https://github.com/chiclet3/furryanimals/assets/144039675/bbccce8f-1d03-40bc-9907-3de4fc097d6c { 
    widht: 100%
    height: 300px;
}