
body {

    background: rgb(255, 255, 255)
}

h1 {
    text-align: center;
    color: rgb(255, 255, 255);
}

h2 {
    text-align: center;
    color:rgb(29, 20, 20)
}

#animal 4{ 
    widht: 100%
    height: 800px;
}